<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SwiftOtter\ShippingSurcharge\Api\Calculator\RateCalculatorInterface" type="SwiftOtter\ShippingSurcharge\Calculator\RateCalculator"/>
    <preference for="SwiftOtter\ShippingSurcharge\Api\Calculator\SurchargeCalculatorInterface" type="SwiftOtter\ShippingSurcharge\Calculator\SurchargeCalculator"/>
</config>